root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.java]
# Standard global settings

indent_style = space
indent_size = 4

# IntelliJ-specific limits for preserving user spacing
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_before_rbrace = 0

# IntelliJ-specific structural enforcing rules
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_before_imports = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_after_package = 1

[*.{yml,yaml}]

[*.md]
trim_trailing_whitespace = false